<html>
    <head>
        <title>Bills App</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">            
    </head>
    <body>
            {% block content %}{% endblock %}
            <div class="pane2">
                <table>
                    <td><a href = '{{url_for('getMonthlyBills')}}'>Monthly Bills</a></td>
                    <td><a href = '{{url_for('getWeeklyBills')}}'>Weekly Bills</a></td>
                    <td><a href = '{{url_for('getBankBalance')}}'>Bank Balance</a></td>
                    <td><a href = '{{url_for('getBringHomePay')}}'>Bring Home Pay</a></td>
                </table>
